
                

<div id='join_leave_target'>
  <div class="card-header" style="border-color: rgb(71, 209, 233);">
    <div style="font-weight: 500; color: rgb(78, 78, 78);"><a class='sub-link' style="margin-left: 0px;" href='{% url "subbluedit" sub.name %}'>b/{{sub.name}}</a></div>
    <div style="font-size: 15px; color:rgb(114, 112, 112);">{{member_count}} {% if member_count == 1 %} member {% else %} members {% endif %}</div>
  </div>
  <div class='card-text' style="font-weight: 500; ">About:</div>
  <div class='card-text' style="font-weight: 400; margin-right: 18px; justify-content: center;"> {{sub.description}}</div>
  {% if user.is_authenticated %}
    <div class="join" hx-target="#join_leave_target" hx-swap="outerHTML">
      <div hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
      {% if type == 'join' %}
          <a href="#" hx-put="{% url 'join' sub.id 'join' %}"><button id='join_leave' class="btn btn-outline-info">Join</button></a>
      {% elif type == 'leave' %}
          <a href="#" hx-put="{% url 'join' sub.id 'leave' %}"><button id='join_leave' class="btn btn-info">Leave</button></a>
      {% endif %}
      </div>
    </div>
  {% else %}
      <a href="{% url 'login' %}"><button id='join_leave' class="btn btn-outline-info">Join</button></a>
  {% endif %}
</div>

                  