{% load crispy_forms_tags %}
{% load static %}

{% block body %}

<div class="row justify-content-center">
  <div class="col-7">
    <form method="post" action="{% url 'submit' %}">
      {% csrf_token %}
        {{ form.title|as_crispy_field }}
        {{ form.image|as_crispy_field }}
        {{ form.description.as_hidden }}

        {% if sub_name %}
          <input style="font-size: 20px;" type="text" disabled value="b/{{sub_name}}">
        {% endif %}

        {{ form.subbluedit|as_crispy_field }}
        
        <button style="float: right;" type="submit" class="btn btn-info">Save post</button>
    </form>
  </div>
</div>


{% block script %}
<script src="{% static 'bluedit/user.js' %}"></script>
{% endblock %}
{% endblock %}
