{% load static %}

{% for comment, vote_type, date, timeunit in zipped %}
<a class='title-view' style="font-size: 17px;" href="{% url 'post' comment.post.id %}">{{comment.post.title}}</a> <span style="font-size: 13px; color: grey;" class="comment-text">by</span>
            <a style="font-size: 13px; color: grey; font-weight: bolder;" href="{% url 'user' comment.post.user.username %}">{{comment.post.user.username}}</a><span style="font-size: 13px; color: grey;"class="comment-text"> to</span> 
            <a style="font-size: 13px; color: grey; font-weight: bolder;" href="{% url 'subbluedit' comment.post.subbluedit %}">b/{{comment.post.subbluedit}}</a>
{% include 'bluedit/blocks/comment-block-no-tree.html' %}
<hr>
{% endfor %}
</div>
