{% load static %}
<div id='comment-block-{{comment.id}}' class="row flex-nowrap">
        {% if comment.tree_level >= 1 %}
        <div class="line"></div>
        {% endif %}
        {% if comment.tree_level >= 2 %}
        <div class="line"></div>
        {% endif %}
        {% if comment.tree_level >= 3 %}
        <div class="line"></div>
        {% endif %}
        {% if comment.tree_level >= 4 %}
        <div class="line"></div>
        {% endif %}
        {% if comment.tree_level >= 5 %}
        <div class="line"></div>
        {% endif %}
        {% if comment.tree_level >= 6 %}
        <div class="line"></div>
        {% endif %}
    <div>
    {% if user.is_authenticated %}
    <div hx-target="#comment-block-{{comment.id}}" hx-swap="outerHTML">
        <div class="vote-top"  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
            {% if vote_type == 'up' %}
            <a href="#" hx-put="{% url 'vote' 'comment' comment.id 'up' %}"><img src="{% static 'images/arrow-up-full.png' %}" width="15" height="15" alt=""></a>
            {% else %}
            <a href="#" hx-put="{% url 'vote' 'comment' comment.id 'up' %}"><img src="{% static 'images/arrow-up.png' %}" width="15" height="15" alt=""></a>
            {% endif %}
        </div>     
        <div class="vote-bottom" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
            {% if vote_type == 'down' %}
            <a href="#" hx-put="{% url 'vote' 'comment' comment.id 'down' %}"><img src="{% static 'images/arrow-down-full.png' %}" width="15" height="15" alt=""></a>
            {% else %}
            <a href="#" hx-put="{% url 'vote' 'comment' comment.id 'down' %}"><img src="{% static 'images/arrow-down.png' %}" width="15" height="15" alt=""></a>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div>
        <div class="vote-top">
            <a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}"><img src="{% static 'images/arrow-up.png' %}" width="15" height="15" alt=""></a>
        </div>
        <div class="vote-bottom">
            <a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}"><img src="{% static 'images/arrow-down.png' %}" width="15" height="15" alt=""></a>
        </div>
    </div>
    {% endif %}
    </div>
    <div class="col" style="padding-left: 5px;">
        <ul class="list-group-item" style='list-style: none;'>
            <li class="comment-top"><a id='name' href='{% url "user" comment.user.username %}'>{{comment.user.username}}</a> 
                <span style="margin-left: 3px;">
                    {% if comment.vote_count == 1 %}
                    {{comment.vote_count}} point
                    {% else %}
                    {{comment.vote_count}} points
                    {% endif %}
                    {% if timeunit == 'second' %}
                     less than a minute ago
                    {% else %}
                    {{date}} {{timeunit}}{% if date != 1 %}s {% endif %} ago
                    {% endif %} 
            </span>
            </li>
            <div hx-target="this" hx-swap="innerHTML">
                <li class="comment-text">{{comment.text}}</li>
                <div class="row">
                    {% if user.is_authenticated %}
                        <li style="margin-left: 5px;"><a class='option' href="#" hx-target='#reply-{{comment.id}}' hx-swap='outerHTML' hx-get="{% url 'reply' comment.id %}">reply</a></li>
                    {% else %}
                        <li style="margin-left: 5px;"><a class='option' href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">reply</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        {% if request.user == comment.user %}
                            <li><a class='option' href="#" hx-get="{% url 'edit' comment.id %}">edit</a></li>
                            <li><a class='option' hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'  href="#" hx-target='this' hx-swap='outerHTML' hx-delete="{% url 'delete' comment.id 'comment' %}">delete</a></li>
                        {% endif %}
                    {% endif %}
                </div> 
            </div>
        </ul>
    </div>

</div>
        <div id='reply-{{comment.id}}' class="reply">
        </div>