ul, li {
    list-style: none;
}

.userdate {
    font-size: 10px;
    color: grey;
}

.title {
    font-size: 25px;
    color: #4682B4;
    font-weight: 500;
    overflow-wrap: break-word;
    
}

td {
    max-width: 125px;
}

.title-view {
    font-size: 22px;
    color: #4682B4;
    font-weight: 500;
    width: 825px;
    overflow-wrap: break-word;
}

.title-view:hover {
    text-decoration:none;
    color: #4682B4;
}

#post-description {
    overflow-wrap: break-word;
}

#name {
    color: #4682B4;
    font-weight: 500;
}

.option {
        color:rgb(114, 112, 112);
        margin-left: 10px;
        font-size:  13px;
        font-weight: 400;
}

.option:hover {
    color:rgb(114, 112, 112);
}

.sub-link {
    color:rgb(78, 78, 78);
}


.sub-link:hover {
    color:rgb(78, 78, 78);
}

#arrow {

    transform: rotate(180deg);
}

.line {
    border: 1px solid rgb(235, 235, 235);
    margin-left: 82.5px;
}

.vote {
    padding-top: 0px;
    margin-left: 10px;  

}

.vote-top {
    margin-left: 10px;  
    height: 15px;
    display: block;

}

.vote-bottom {
    margin-top: 5px;
    margin-left: 10px;  
    height: 15px;
    display: block;
}

.vote-top-post {
    margin-left: 10px;  
    height: 15px;
    display: block;

}

.vote-bottom-post {
    margin-left: 10px;  
    height: 15px;
    display: block;
}

.vote-count-test {
    color: rgb(114, 112, 112);
    margin-top: 0px;
    padding-left: 6px;
    display: block;
    text-align: center;
    width: 30px;
    font-weight: lighter;
}

.vote-count {
    color: rgb(114, 112, 112);
    padding-top: 7px;
    padding-left: 6px;
    display: block;
    text-align: center;
    width: 30px;
    font-weight: 400;
    font-size: 19px;
}

#create {
 font-size: 13px;
 margin-top: 3px;
 margin-left: 5px;
}


.reply {
    width: 100%;
}

.comment-option {
    color:rgb(114, 112, 112);
    font-size:  15px;
    font-weight: 700;
    margin-left: 15px;
}

.comment-option:hover {
    color:rgb(114, 112, 112);
        font-size:  15xpx;
}

.comment-option-post {
    color:rgb(114, 112, 112);
        font-size:  17px;
        margin-top: 10px;
}

.comment-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    overflow-wrap: anywhere;
}

#submit-option {
    margin-bottom: 10px;
    margin-left: 15px;
}

.submit-options-text {
    color:#4682B4;
}

.post-image {
    margin-right: 15px;
    margin-top: 5px;
}

#icon {
    padding: 10px;
}

#image {
    image-resolution: inherit;
    width: 700px;
}

.comment-top {
    color:rgb(114, 112, 112);
    font-size:  13px;
}

.card {
    height: 400px;
    display: block;
    width: 300px;

}

#card {
    margin-top: 10px;
    height: 400px;
}

.card-text {
    color: rgb(78, 78, 78);
    margin-left:18px;   
    margin-top: 10px;
}

#join_leave {
    position: absolute;
    bottom: 60px;
    width: 250px;
    left: 18px;
    font-size: 15px;
}

.post-list {
    margin-top: 10px;
}

#login {
    width: 100%;
}

#search-results {
    height: 200px;
    position: absolute;
    z-index: 2;
}

.search-bar {
    margin-left: 20px;
    width: 300px;
}

.result-button {
    width: 100%;
    background-color: white;
    border: 1px solid white;
}

.result-button:hover {
    background-color: rgb(235, 235, 235);
}

#card-results {
    height: 190px;
}

#close-button {
    position: absolute;
    bottom: 4%;
    right: 3%
}


