{% load static %}

{% if action == 'search' %}
    <div class='search-box' id="search-results">
        <div class="card" id="card-results">
            {% for sub in final_results %}
                <li><a href="{% url 'subbluedit' sub.name %}"><button style='text-align: left;' class="result-button">
                    <div style="font-weight: 500; color: rgb(78, 78, 78);">b/{{sub.name}}</div>
                    <div style="font-size: 12px; color:rgb(114, 112, 112);">{{sub.member_count}} {% if sub.member_count == 1 %} member {% else %} members {% endif %}</div>
                </button></a></li>
                    
            {% endfor %}
            <div id="close-button">
                <a href="#" hx-get="{% url 'search' %}" hx-target="#search-results"><img src="{% static 'images/close-button-icon.webp' %}" width="20" height="20" alt=""></a>
            </div>
        </div>
        
    </div>
{% elif action == 'close' %}
<div class='search-box' id="search-results">
</div>
{% endif %}