{% extends 'bluedit/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}



<div class="row flex-nowrap">
    <div class="col-11">
        {% include 'bluedit/blocks/post-list.html' %}
            {% include 'bluedit/blocks/paginator.html' %}
    </div>
    <div class="col-1">
        {% include 'bluedit/blocks/card-block-index.html' %}
        {% include 'bluedit/blocks/card-block-all.html' %}
    </div>
</div>

</div>


{% block script %}
<script src="{% static 'bluedit/user.js' %}"></script>
{% endblock %}
{% endblock %}
