{% extends 'bluedit/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
<span class="title" style="margin-left: 43px;">/b/Login<span>
<div style="color: red;" >{{message}}</div>
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name='username' id="username" placeholder="Enter username">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name='password' id="password" placeholder="Enter password">
      </div>
    <input type="submit">
</form>
{% endblock %}
