{% extends 'bluedit/layout.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}

{% block body %}


{% if post %}

<div class="row flex-nowrap">
    <div class="col-11">
        <div class="row flex-nowrap">
            {% if user.is_authenticated %}
            {% if vote_type_post == 'up' %}

            <div class="vote" hx-target="this" hx-swap="outerHTML">
                <div class="vote-top-post" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                <a href="#" hx-put="{% url 'vote' 'post' post.id 'up' %}"><img src="{% static 'images/arrow-up-full.png' %}" width="15" height="15" alt=""></a>
                </div>
                <div id="vote_count" class="vote-count">
                    {{ post.vote_count }}
                </div>
                <div class="vote-bottom-post" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                <a href="#" hx-put="{% url 'vote' 'post' post.id 'down' %}"><img src="{% static 'images/arrow-down.png' %}" width="15" height="15" alt=""></a>
                </div>
            </div>
            
            {% elif vote_type_post == 'down' %}
            
            <div class="vote" hx-target="this" hx-swap="outerHTML">
                <div class="vote-top-post" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                <a href="#" hx-put="{% url 'vote' 'post' post.id 'up' %}"><img src="{% static 'images/arrow-up.png' %}" width="15" height="15" alt=""></a>
                </div>
                <div id="vote_count" class="vote-count">
                    {{ post.vote_count }}
                </div>
                <div class="vote-bottom-post" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                <a href="#" hx-put="{% url 'vote' 'post' post.id 'down' %}"><img src="{% static 'images/arrow-down-full.png' %}" width="15" height="15" alt=""></a>
                </div>
            </div>
            
            {% else %}
            
            <div class="vote" hx-target="this" hx-swap="outerHTML">
                <div class="vote-top-post" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                <a href="#" hx-put="{% url 'vote' 'post' post.id 'up' %}"><img src="{% static 'images/arrow-up.png' %}" width="15" height="15" alt=""></a>
                </div>
                <div id="vote_count" class="vote-count">
                    {{ post.vote_count }}
                </div>
                <div class="vote-bottom-post" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                <a href="#" hx-put="{% url 'vote' 'post' post.id 'down' %}"><img src="{% static 'images/arrow-down.png' %}" width="15" height="15" alt=""></a>
                </div>
            </div>
            {% endif %}
            {% else %}
            <div>
                <div class="vote-top-post">
                    <a href="{% url 'login' %}"><img src="{% static 'images/arrow-up.png' %}" width="15" height="15" alt=""></a>
                </div>
                <div id="vote_count" class="vote-count">
                    {{ post.vote_count }}
                </div>
                <div class="vote-bottom-post">
                    <a href="{% url 'login' %}"><img src="{% static 'images/arrow-down.png' %}" width="15" height="15" alt=""></a>
                </div>
            </div>
            {% endif %}
            <div class="col-11" style="padding-left: 5px; overflow-wrap: break-word;">
                <div class="title">{{post.title}}</div>
                <span style="font-size: 13px; color: grey;">Posted by <a href="{% url 'user' post.user.username %}" id='name'>{{post.user.username}}</a>,
                    {% if timeunit_post == 'second' %}
                     less than a minute ago
                    {% else %}
                    {{date_post}} {{timeunit_post}}{% if date_post != 1 %}s{% endif %} ago
                    {% endif %}
                {% if user.is_authenticated %}
                    {% if request.user == post.user %}
                        <div>
                            <a style="margin-left: 0px;" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class='option' href="#" hx-target='this' hx-swap='outerHTML' hx-delete="{% url 'delete' post.id 'post' %}">delete</a></li>
                            {% if post_type == 'text' %}
                            <a style='margin-left: 0px;' class='option' href="#" hx-get="{% url 'edit_post' post.id %}" hx-target='#post-description' hx-swap='outerHTML'>edit</a>
                            {% endif %}
                            
                        </div>
                    {% endif %}
                {% endif %}
                {% if post_type == 'image' %}
                <div style="margin-top: 5px;">
                    <a href="{{post.image}}"><img id='image' src="{{post.image}}" alt=""></a>
                {% elif post_type == 'text' %}
                    <div id='post-description' class="list-group-item">
                            <li class='comment-text'>{{post.description}}</li>
                {% endif %}
                </div>

                <div class="comment-option-post" style="margin-top: 5px;"><img style='margin-right: 7px;' src="{% static 'images/comment.png' %}" width="15" height="15" alt="">{{comment_count}} comments</div>
            </div> 
    </div>


        <hr>

        {% if user.is_authenticated %}
        <div class="col" hx-target="#comment" hx-swap="outerHTML">
                Comment as <a href="{% url 'user' user.username %}" id='name'>{{user.username}}</a>
            <form hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-post="{% url 'comment' post.id %}">
                {{ commentf.text }}
                    <button style='margin-top: 10px;' class="btn btn-outline-info">Save comment</button>
            </form>
        </div>
        {% else %}
        <div class="col">
            <a href="{% url 'login' %}" id='name'>Log in</a> to comment
        <form>
            {{ commentf.text }}
        </form>
        <a href="{% url 'login' %}" id='name'><button class="btn btn-info">Save comment</button></a>
        </div>
        {% endif %}

        <hr>

        <div id="comment"></div>
            
        {% for comment, vote_type, date, timeunit in zipped %}
        <div class="container">
            {% include 'bluedit/blocks/comment-block.html' %}
        </div>
        {% endfor %}
        <br>
        {% else %}

        <h2>{{message}}</h2>
        {% endif %}
    </div>
    <div class="col-1">
        {% include 'bluedit/blocks/card-block-join.html' %}
    </div>
</span>
</div>



</div>
{% block script %}
<script src="{% static 'bluedit/user.js' %}"></script>
{% endblock %}

{% endblock %}
