{% load static %}
{% load crispy_forms_tags %}


    <div class="row">
        {% if reply.tree_level >= 1 %}
        <div class="line"></div>
        {% endif %}
        {% if reply.tree_level >= 2 %}
        <div class="line"></div>
        {% endif %}
        {% if reply.tree_level >= 3 %}
        <div class="line"></div>
        {% endif %}
        {% if reply.tree_level >= 4 %}
        <div class="line"></div>
        {% endif %}
        {% if reply.tree_level >= 5 %}
        <div class="line"></div>
        {% endif %}
        {% if reply.tree_level >= 6 %}
        <div class="line"></div>
        {% endif %}
        {% if reply.tree_level >= 7 %}
        <div class="line"></div>
        {% endif %}
        <div class="vote" hx-target="this" hx-swap="outerHTML">
            <div class="vote" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                <a href="#" hx-put="{% url 'vote' 'comment' reply.id 'up' %}"><img src="{% static 'images/arrow-up.png' %}" width="15" height="15" alt=""></a>
            </div>
            <div id="vote_count" class="vote-count">
                0
            </div>
            <div class="vote"hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                <a href="#" hx-put="{% url 'vote' 'comment' reply.id 'down' %}"><img src="{% static 'images/arrow-down.png' %}" width="15" height="15" alt=""></a>
            </div>
        </div>
        <div class="col">
            <ul class="list-group-item" style='list-style: none;'>
                <li style="font-size: 13px; color: grey;">Posted by {{reply.user.username}}, just now</li>
                <div hx-target="this" hx-swap="innerHTML">
                    <li class="comment-text">{{reply.text}}</li>
                    <div class="row">
                        <li><a class='option' href="#" hx-get="{% url 'edit' reply.id %}">Edit</a></li>
                        <li><a class="option" href="#" hx-target='#reply-{{reply.id}}' hx-swap='innerHTML' hx-get="{% url 'reply' reply.id %}">Reply</a></li>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    <div id='reply-{{reply.id}}' class="reply">

    </div>
