{% extends 'bluedit/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
<div class="row">
  <div class="col">
    {% include 'bluedit/blocks/post-list.html' %}
  </div>
  <div class='col-1'>
    <div id='card' class="card border-info" style="max-width: 18rem; margin-left: 50px;">
      <div class="card-header" style="border-color: rgb(71, 209, 233);">
              <div style="font-weight: 400; color: rgb(78, 78, 78);">b/{{sub.name}}</div>
      </div class='card-body'>
              {% include 'bluedit/join.html' %}
              {% if user.is_authenticated %}
              <a href="{% url 'submit' sub.name %}"><button style='bottom: 10px;' id='join_leave' class="btn btn-info">Submit </button></a>
          {% else %}
              <a href="{% url 'login' %}"><button style='bottom: 10px;' id='join_leave' class="btn btn-info">Submit </button></a>
          {% endif %}
    </div>
  </div>
</div>

{% block script %}
<script src="{% static 'bluedit/user.js' %}"></script>
{% endblock %}
{% endblock %}
