{% extends 'bluedit/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}

  <div class="row flex-nowrap">
    <div class="col">
      {% if message %}
      <div style="margin-top: 10px;">
        Nobody has posted here yet. <span><a style='color: #4682B4; font-weight: 500;' href="{% url 'submit' sub.name %}">Submit</a></span> and be the first one.
      </div>
      {% else %}
      {% include 'bluedit/blocks/post-list-sub.html' %}
      {% endif %}
      </div>
          {% include 'bluedit/blocks/card-block-join.html' %}
      </div>
    </div>
  </div>


{% block script %}
<script src="{% static 'bluedit/user.js' %}"></script>
{% endblock %}
{% endblock %}
