{% extends 'bluedit/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
<div style="margin-top: 50px;">
<div class="row justify-content-center">
  <div class="col-6">
  <form method="post" action="{% url 'subcreate' %}">
    {% csrf_token %}
        {{ form|crispy }}
      
    <button type="submit" style="float: right;" class="btn btn-info">Create</button>
  </form>
</div>
{% block script %}
<script src="{% static 'bluedit/user.js' %}"></script>
{% endblock %}
{% endblock %}
