{% extends 'bluedit/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}

<div class="submit-options">
    <div class="row">
      <button id='submit-option' hx-get="{% url 'user_option' profile_user.username 'comments' %}" hx-target="#submit-form" class="btn btn-light"><span class="submit-options-text">Comments</span></button>
      <button id='submit-option' hx-get="{% url 'user_option' profile_user.username 'posts' %}" hx-target="#submit-form" class="btn btn-light"><span class="submit-options-text"></class>Posts</span></button>
    </div>
</div>
  

<span class="title" style="margin-left: 43px;">/b/{{profile_user.username}}<span>
<div id="submit-form" hx-swap="innerHTML">
    {% for comment, vote_type, date, timeunit in zipped %}
    <div class="row">
        <div class="vote" hx-target="this" hx-swap="outerHTML">
            <div class="vote"  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                {% if vote_type == 'up' %}
                <a href="#" hx-put="{% url 'vote' 'comment' comment.id 'up' %}"><img src="{% static 'images/arrow-up-full.png' %}" width="15" height="15" alt=""></a>
                {% else %}
                <a href="#" hx-put="{% url 'vote' 'comment' comment.id 'up' %}"><img src="{% static 'images/arrow-up.png' %}" width="15" height="15" alt=""></a>
                {% endif %}
            </div>
            <div id="vote_count" class="vote-count">
                {{ comment.vote_count }}
            </div>
            <div class="vote" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                {% if vote_type == 'down' %}
                <a href="#" hx-put="{% url 'vote' 'comment' comment.id 'down' %}"><img src="{% static 'images/arrow-down-full.png' %}" width="15" height="15" alt=""></a>
                {% else %}
                <a href="#" hx-put="{% url 'vote' 'comment' comment.id 'down' %}"><img src="{% static 'images/arrow-down.png' %}" width="15" height="15" alt=""></a>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <a class='title-view' href="{% url 'post' comment.post.id %}">{{comment.post.title}}</a> <span style="font-size: 13px; color: grey;" class="comment-text">by</span>
            <a style="font-size: 13px; color: grey;" href="{% url 'user' comment.post.user.username %}">{{comment.post.user.username}}</a><span style="font-size: 13px; color: grey;"class="comment-text"> to</span> 
            <a style="font-size: 13px; color: grey;" href="{% url 'subbluedit' comment.post.subbluedit %}">b/{{comment.post.subbluedit}}</a>
            <ul class="list-group-item" style='list-style: none;'>
                <li style="font-size: 13px; color: grey;">Posted by {{comment.user.username}}, 
                    {% if timeunit == 'second' %}
                        {{date}} seconds ago
                    {% elif timeunit == 'minute' %}
                        {{date}} minutes ago
                    {% elif timeunit == 'hour' %}
                        {{date}} hours ago
                    {% elif timeunit == 'day' %}
                        {{date}} days ago
                    {% elif timeunit == 'month' %}
                        {{date}} months ago
                    {% else %}
                        {{date}} years ago
                    {% endif %}
                </li>
                <div hx-target="this" hx-swap="innerHTML">
                    <li class="comment-text">{{comment.text}}</li>
                    <div class="row">
                        <li><a class='option' href="#" hx-get="{% url 'edit' comment.id %}">Edit</a></li>
                    </div>
                </div>
            </ul>
        </div>
    </div>
            <div id='reply-{{comment.id}}' class="reply">
            </div>
    <hr>
    {% endfor %}
</div>
{% block script %}
<script src="{% static 'bluedit/user.js' %}"></script>
{% endblock %}
{% endblock %}
