{% extends 'bluedit/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}

<div class="submit-options">
    <div class="row">
      <button id='submit-option' hx-get="{% url 'user_option' profile_user.username 'comments' %}" hx-target="#submit-form" class="btn btn-light"><span class="submit-options-text">Comments</span></button>
      <button id='submit-option' hx-get="{% url 'user_option' profile_user.username 'posts' %}" hx-target="#submit-form" class="btn btn-light"><span class="submit-options-text"></class>Posts</span></button>
    </div>
</div>
  

<div class="row flex-nowrap">
  <div class="col-11">
    <div id="submit-form" hx-swap="innerHTML">
        {% for comment, vote_type, date, timeunit in zipped %}
        <a class='title-view' style="font-size: 17px;" href="{% url 'post' comment.post.id %}">{{comment.post.title}}</a> <span style="font-size: 13px; color: grey;" class="comment-text">by</span>
                <a style="font-size: 13px; color: grey; font-weight: 600;" href="{% url 'user' comment.post.user.username %}">{{comment.post.user.username}}</a><span style="font-size: 13px; color: grey;"class="comment-text"> to</span> 
                <a style="font-size: 13px; color: grey; font-weight: 600;" href="{% url 'subbluedit' comment.post.subbluedit %}">b/{{comment.post.subbluedit}}</a>
        {% include 'bluedit/blocks/comment-block-no-tree.html' %}
        <hr>
        {% endfor %}
    </div>
  </div>
    {% include 'bluedit/blocks/card-block-user.html' %}
</div>
{% block script %}
<script src="{% static 'bluedit/user.js' %}"></script>
{% endblock %}
{% endblock %}
